{% extends 'products/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/regular_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/regular_responsive.css' %}">
{% endblock %}

{% block content %}

	<!-- Single Blog Post -->

	<div class="single_post">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="single_post_title">Уточнение статуса заказа</div>
					<div class="single_post_text">
						<p>Для уточнения статуса заказа нажмите на кнопку ниже и наш менеджер с Вами свяжется</p>

						<div class="single_post_quote text-center">
							<div class="char_icon">
								{% if request.user.is_authenticated %}
									<a href="{% url 'products:order_question' %}">Уточнить о заказе</a>
								{% else %}
									<a href="{% url 'users:login' %}">Уточнить о заказе</a>
								{% endif %}
								<img src="{% static 'images/char_1.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
	<script src="{% static 'plugins/easing/easing.js' %}"></script>
	<script src="{% static 'js/regular_custom.js' %}"></script>
{% endblock %}

