{% extends 'products/base.html' %}
{% load static %}

{% block content %}

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap bg-img" data-bg="{% static 'img/1616690104_38-p-avtozapchasti-fon-43.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <div class="page-header-content-inner">
                            <h1>Уточнение статуса заказа</h1>

                            <ul class="breadcrumb">
                                <li><a href="{% url 'index' %}">Домашняя</a></li>
                                <li class="current"><a href="#">Уточнить о заказе</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="blog-details-page-wrapper">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-12">
                        <article class="blog-post-details">

                            <div class="blog-post-txt-wrap">
                                <div class="row">

                                    <div class="col-md-9 col-lg-8 m-auto order-0">
                                        <div class="blog-post-txt">
                                            <h2>Для уточнения статуса заказа нажмите на кнопку ниже и наш менеджер с Вами свяжется</h2>

                                            {% if request.user.is_authenticated %}
                                                <div class="col-12 mt-40">
                                                    <button class="btn btn-brand w-100"><a href="{% url 'products:order_question' %}">Уточнить</a></button>
                                                </div>
                                            {% else %}
                                                <div class="col-12 mt-40">
                                                    <button class="btn btn-brand w-100"><a href="{% url 'users:login' %}">Уточнить</a></button>
                                                </div>
                                            {% endif %}

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Wrapper ==-->

{% endblock %}