{% extends 'products/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css' %}">
{% endblock %}

{% block content %}

	<!-- Contact Info -->

	<div class="contact_info">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

						<!-- Contact Item -->
						<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
							<div class="contact_info_image"><img src="images/contact_1.png" alt=""></div>
							<div class="contact_info_content">
								<div class="contact_info_title">Phone</div>
								<div class="contact_info_text">+7 904 403 6359</div>
							</div>
						</div>

						<!-- Contact Item -->
						<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
							<div class="contact_info_image"><img src="images/contact_2.png" alt=""></div>
							<div class="contact_info_content">
								<div class="contact_info_title">Email</div>
								<div class="contact_info_text">89044036359@yandex.ru</div>
							</div>
						</div>

						<!-- Contact Item -->
						<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
							<div class="contact_info_image"><img src="images/contact_3.png" alt=""></div>
							<div class="contact_info_content">
								<div class="contact_info_title">Address</div>
								<div class="contact_info_text">Волгоград, РФ</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact Form -->

	<div class="contact_form">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="contact_form_container">
						<div class="contact_form_title">Быстрое сообщение</div>

						<form action="{% url 'products:contact_question' %}" method="get" id="contact_form">
							<div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
								<input type="text" id="contact_form_name" name="first_name" class="contact_form_name input_field" placeholder="Ваше имя" required="required" data-error="Необходимо имя">
								<input type="text" id="contact_form_email" name="email" class="contact_form_email input_field" placeholder="Ваша почта">
								<input type="tel" id="contact_form_phone" name="phone_number" class="contact_form_phone input_field" placeholder="8-904-403-6359" required="required" pattern="[8]-[0-9]{3}-[0-9]{3}-[0-9]{4}" data-error="Необходим номер телефона">
							</div>
							<div class="contact_form_text">
								<textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Сообщение" required="required" data-error="Пожалуйста, напишите сообщение"></textarea>
							</div>
							<div class="contact_form_button">
								<button type="submit" class="button contact_submit_button">Отправить</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
		<div class="panel"></div>
	</div>

	<!-- Map -->

<!--	<div class="contact_map">-->
<!--		<div id="google_map" class="google_map">-->
<!--			<div class="map_container">-->
<!--				<div id="map"></div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

{% endblock %}

{% block js %}
	<script src="{% static 'plugins/easing/easing.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
	<script src="{% static 'js/contact_custom.js' %}"></script>
{% endblock %}

