{% extends 'products/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/regular_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/regular_responsive.css' %}">
{% endblock %}

{% block content %}

	<!-- Single Blog Post -->

	<div class="single_post">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="single_post_title">Сроки выполнения заказа</div>
					<div class="single_post_text">
						<p>В случае заказа товара в наличии на складе срок доставки составляет до 24 часов с момента заказа.
							Доставка товара "под заказ" согласовывается в индивидуальном порядке
						</p>
					</div>
					<div class="single_post_title">Оплата заказа</div>
					<div class="single_post_text">
						<p>Оплата заказа товара в наличии производится в момент получения товара.
							Расчитаться момжно как наличными так и онлайн переводом.
							Оплата товара "под заказ" производится по частичной предоплате в индивидуальном порядке.
						</p>
					</div>
					<div class="single_post_title">Доставка</div>
					<div class="single_post_text">
						<p>Бесплатная доставка товара осуществляется в черте города Волгоград при заказе товара на сумму от 1000 руб.
							Доставка товара в пункт за чертой города согласовывается с менеджером в индивидуальном порядке.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
	<script src="{% static 'plugins/easing/easing.js' %}"></script>
	<script src="{% static 'js/regular_custom.js' %}"></script>
{% endblock %}

