{% extends 'products/base.html' %}
{% load static %}

{% block content %}

    <!--== Start Slider Area Wrapper ==-->
    <div class="slider-area-wrapper">
        <div class="slider-content-active">
            <div class="slider-slide-item bg-img" data-bg="{% static 'img/slider/slider-1_1624_1024.png' %}">
                <div class="container container-wide h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-6">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <h3>БОЛЬШОЙ АССОРТИМЕНТ ПРОДУКЦИИ</h3>
                                    <h2>В НАЛИЧИИ <br> И ПОД ЗАКАЗ</h2>
                                    <a class="btn btn-white" href="{% url 'products:index' %}">В каталог</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-slide-item bg-img" data-bg="{% static 'img/slider/slider-2_1800_935.jpg' %}">
                <div class="container container-wide h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-12">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <h3>ВСЁ ДЛЯ ВАШЕГО АВТОМОБИЛЯ</h3>
                                    <h2>АВТОЗАПЧАСТИ И <br> АКСЕССУАРЫ</h2>
                                        <a class="btn btn-white" href="{% url 'products:index' %}">В каталог</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Slider Area Wrapper ==-->

    <!--== Start Banner Area Wrapper ==-->
    <!--== End Banner Area Wrapper ==-->

    <!--== Start Call to Action Area ==-->
    <div class="call-to-action-area sm-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="call-to-action-item mt-0">
                        <div class="call-to-action-item__icon">
                            <img src="{% static 'img/char_1.png' %}" alt="fast delivery">
                        </div>
                        <div class="call-to-action-item__info">
                            <h3>Бесплатная доставка</h3>
                            <p>По г. Волгоград при
                                заказе от 1000 руб.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="call-to-action-item">
                        <div class="call-to-action-item__icon">
                            <img src="{% static 'img/char_3.png' %}" alt="quality">
                        </div>
                        <div class="call-to-action-item__info">
                            <h3>Экономия</h3>
                            <p>Низкие цены</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="call-to-action-item">
                        <div class="call-to-action-item__icon">
                            <img src="{% static 'img/char_4.png' %}" alt="return">
                        </div>
                        <div class="call-to-action-item__info">
                            <h3>Стабильные поставки</h3>
                            <p>Товар в наличии</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--== End Call to Action Area ==-->

    <!--== Start Best Seller Products Area ==-->

    <!--== End Best Seller Products Area ==-->

    <!--== Start Call to action Wrapper ==-->
    <div class="call-to-action-area">
        <div class="call-to-action-content-area bg-img" data-bg="{% static 'img/bg/bg-1.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="call-to-action-txt">
                            <h2>ВСЁ ЧТО ВАМ НУЖНО <br> НАЙДЕТЕ ЗДЕСЬ</h2>
                                <a href="{% url 'products:index' %}" class="btn btn-brand">В каталог</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="call-to-action-image-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="{% static 'img/bg/bg-car_1899_1081.png' %}" alt="Car" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Call to action Wrapper ==-->

    <!--== Start Promotion Code Banner Area ==-->
    <div class="promotion-code-area-wrapper sm-top">
        <div class="container container-wide">
            <div class="row">
                <div class="col-md-6">
                    <div class="promotion-code-banner-item mb-sm-30">
                        <img src="{% static 'img/banner/banner-5_1416_864.jpg' %}" alt="Banner" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="promotion-code-banner-item">
                        <img src="{% static 'img/banner/banner-6_2121_1414.jpg' %}" alt="Banner" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Promotion Code Banner Area ==-->

    <!--== Start Products Area Wrapper ==-->
    <div class="products-area-wrapper sm-top">
        <div class="container container-wide">
            <div class="row">
                <div class="col-lg-5 m-auto text-center">
                    <div class="section-title">
                        <h2 class="h3">Свежие поступления</h2>
                        <p>Товар уже в наличии</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="product-wrapper columns-5">
                        <!-- Start Product Item -->
                        {% for product in news %}
                            <div class="col">
                                <div class="product-item">
                                    <div class="product-item__thumb">
                                        <a href="{% url 'products:product' product.id %}">
                                            <img class="thumb-primary" src="/media/{{ product.image_main }}" alt="Product" />
                                            <img class="thumb-secondary" src="/media/{{ product.image_main }}" alt="Product" />
                                        </a>
                                    </div>

                                    <div class="product-item__content">
                                        <br>
                                        <h4 class="title"><a href="{% url 'products:product' product.id %}">{{ product.name }}</a></h4>
                                        <span class="price"><strong>Цена:</strong> {{ product.price }} руб.</span>
                                    </div>

                                    <div class="product-item__action">
                                        <button class="btn-add-to-cart"><a href="{% url 'products:basket_add' product.id %}"><i class="ion-bag"></i></a></button>
                                        <button class="btn-add-to-cart"><a href="{% url 'products:product' product.id %}"><i class="ion-eye"></i></a></button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- End Product Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Products Area Wrapper ==-->

    <!--== Start Flash Deals Area ==-->
    <div class="flash-deals-area bg-img" data-bg="{% static 'img/bg/deal-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-11 m-auto">
                    <div class="row align-items-center">
                        <div class="col-md-5 col-lg-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Flash Deals Area ==-->

    <!--== Start Newsletter Area ==-->
    <div class="newsletter-area-wrapper">
        <div class="container container-wide">
            <div class="newsletter-area-inner bg-img" data-bg="{% static 'img/bg/newsletter-bg_1400_900.jpg' %}">
                <div class="row">
                    <div class="col-lg-8 col-xl-5 m-auto">
                        <div class="newsletter-content text-center">
                            <h4> <span>Не нашли что-то?</span> </h4>
                            <h2>мы с Вами свяжемся и ответим на все вопросы</h2>
                            <p> </p>

                                <div class="newsletter-form-wrap">
                                    {% if request.user.is_authenticated %}
                                        <form action="{% url 'products:question' %}" method="get">
                                            <div class="form-content">
                                                <input name="search_string" type="text" placeholder="Уточните Ваш запрос при необходимости" />
                                                <button class="btn-newsletter">Запросить</button>
                                            </div>
                                        </form>
                                    {% else %}
                                        <form action="{% url 'users:login' %}" method="get">
                                            <div class="form-content">
                                                <input name="search_string" type="text" placeholder="Уточните Ваш запрос при необходимости" />
                                                <button class="btn-newsletter">Запросить</button>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Newsletter Area ==-->

    <!--== Start Brand Logo Area Wrapper ==-->
    <!--== End Brand Logo Area Wrapper ==-->

{% endblock %}