{% extends 'products/base.html' %}
{% load static %}

{% block content %}

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap bg-img" data-bg="{% static 'img/1616690104_38-p-avtozapchasti-fon-43.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <div class="page-header-content-inner">
                            <h1>Каталог товаров</h1>

                            <ul class="breadcrumb">
                                <li><a href="{% url 'index' %}">Домашняя</a></li>
                                <li class="current"><a href="#">Каталог</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="container container-wide">
            <div class="row">
                <div class="col-lg-3 order-1 order-lg-0">
                    <div class="sidebar-area">

                        <div class="sidebar-item">
                            <h4 class="sidebar-title">Категории</h4>
                            <div class="sidebar-body">
                                <ul class="sidebar-list">
                                    {% for category in categories %}
                                        <li><a href="{% url 'products:index_cat' category.id %}">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar-item">
                            <h4 class="sidebar-title">Бренды</h4>
                            <div class="sidebar-body">
                                <ul class="tags">
                                    {% for brand in brands %}
                                        <li><a href="{% url 'products:index_brand' brand.id %}">{{ brand.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 order-0 order-lg-1">
                    <div class="action-bar-inner mb-30">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <div class="shop-layout-switcher mb-15 mb-sm-0">
                                    <ul class="layout-switcher nav">
                                        <li data-layout="grid" class="active"><i class="fa fa-th"></i></li>
                                        <li data-layout="list"><i class="fa fa-th-list"></i></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="newsletter-form-wrap">
                                    <form action="{% url 'products:search_res' %}" method="get">
                                        <div class="form-content">
                                            <input name="search_string" type="search" required="required" placeholder="Поиск товара..." />
                                            <button class="btn-newsletter">Найти</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-wrapper product-layout layout-grid">
                        <div class="row mtn-30">
                            <!-- Start Product Item -->
                            {% for product in products %}
                                <div class="col-sm-6 col-lg-4">
                                    <div class="product-item">
                                        <div class="product-item__thumb">
                                            <a href="{% url 'products:product' product.id %}">
                                                <img class="thumb-primary" src="/media/{{ product.image_main }}" alt="Product" />
                                                <img class="thumb-secondary" src="/media/{{ product.image_main }}" alt="Product" />
                                            </a>
                                        </div>

                                        <div class="product-item__content">
                                            <div class="product-item__info">
                                                <br>
                                                <h4 class="title"><a href="{% url 'products:product' product.id %}">{{ product.name }}</a></h4>
                                                <span class="price"><strong>Цена:</strong> {{ product.price }} руб.</span>
                                            </div>

                                            <div class="product-item__action">
                                                <button class="btn-add-to-cart"><a href="{% url 'products:basket_add' product.id %}"><i class="ion-bag"></i></a></button>
                                                <button class="btn-add-to-cart"><a href="{% url 'products:product' product.id %}"><i class="ion-eye"></i></a></button>
                                            </div>

                                            <div class="product-item__desc">
                                                <p>{{ product.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- End Product Item -->
                        </div>
                    </div>

                    <div class="action-bar-inner mt-30">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <nav class="pagination-wrap mb-10 mb-sm-0">
                                    <ul class="pagination">
                                        {% if category_id %}
                                            <li><a href="{% if products.has_previous %} {% url 'products:index_cat_page' category_id products.previous_page_number %} {% else %}#{% endif %}"><i class="ion-ios-arrow-thin-left"></i></a></li>
                                        {% elif brand_id %}
                                            <li><a href="{% if products.has_previous %} {% url 'products:index_brand_page' brand_id products.previous_page_number %} {% else %}#{% endif %}"><i class="ion-ios-arrow-thin-left"></i></a></li>
                                        {% else %}
                                            <li><a href="{% if products.has_previous %} {% url 'products:page' products.previous_page_number %} {% else %}#{% endif %}"><i class="ion-ios-arrow-thin-left"></i></a></li>
                                        {% endif %}
                                        {% if category_id %}
                                            {% for page in products.paginator.page_range %}
                                                {% if products.number == page %}
                                                    <li class="active"><a href="{% url 'products:index_cat_page' category_id page %}">{{ page }}</a></li>
                                                {% else %}
                                                    <li><a href="{% url 'products:index_cat_page' category_id page %}">{{ page }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% elif brand_id %}
                                            {% for page in products.paginator.page_range %}
                                                {% if products.number == page %}
                                                    <li class="active"><a href="{% url 'products:index_brand_page' brand_id page %}">{{ page }}</a></li>
                                                {% else %}
                                                    <li><a href="{% url 'products:index_brand_page' brand_id page %}">{{ page }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for page in products.paginator.page_range %}
                                                {% if products.number == page %}
                                                    <li class="active"><a href="{% url 'products:page' page %}">{{ page }}</a></li>
                                                {% else %}
                                                    <li><a href="{% url 'products:page' page %}">{{ page }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if category_id %}
                                            <li><a href="{% if products.has_next %} {% url 'products:index_cat_page' category_id products.next_page_number %} {% else %}#{% endif %}"><i class="ion-ios-arrow-thin-right"></i></a></li>
                                        {% elif brand_id %}
                                            <li><a href="{% if products.has_next %} {% url 'products:brand/brand_id/page' products.next_page_number %} {% else %}#{% endif %}"><i class="ion-ios-arrow-thin-right"></i></a></li>
                                        {% else %}
                                            <li><a href="{% if products.has_next %} {% url 'products:page' products.next_page_number %} {% else %}#{% endif %}"><i class="ion-ios-arrow-thin-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Wrapper ==-->

{% endblock %}