{% extends 'products/base.html' %}
{% load static %}

{% block content %}

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap bg-img" data-bg="{% static 'img/1616690104_38-p-avtozapchasti-fon-43.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <div class="page-header-content-inner">
                            <h1>Подробнее о товаре</h1>

                            <ul class="breadcrumb">
                                <li><a href="{% url 'index' %}">Домашняя</a></li>
                                <li><a href="{% url 'products:index' %}">Каталог</a></li>
                                <li class="current"><a href="#">Товар</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="product-details-page-content">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <!-- Start Product Thumbnail Area -->
                            <div class="col-md-5">
                                <div class="product-thumb-area">
                                    <div class="product-details-thumbnail">
                                        <div class="product-thumbnail-slider" id="thumb-gallery">
                                            <figure class="pro-thumb-item" data-mfp-src="/media/{{ product.image_main }}">
                                                <img src="/media/{{ product.image_main }}" alt="Product Details" />
                                            </figure>
                                            {% if product.image_1 %}
                                                <figure class="pro-thumb-item" data-mfp-src="/media/{{ product.image_1 }}">
                                                    <img src="/media/{{ product.image_1 }}" alt="Product Details" />
                                                </figure>
                                            {% endif %}
                                            {% if product.image_2 %}
                                                <figure class="pro-thumb-item" data-mfp-src="/media/{{ product.image_2 }}">
                                                    <img src="/media/{{ product.image_2 }}" alt="Product Details" />
                                                </figure>
                                            {% endif %}
                                            {% if product.image_3 %}
                                                <figure class="pro-thumb-item" data-mfp-src="/media/{{ product.image_3 }}">
                                                    <img src="/media/{{ product.image_3 }}" alt="Product Details" />
                                                </figure>
                                            {% endif %}
                                        </div>

                                        <a href="#thumb-gallery" class="btn-large-view btn-gallery-popup">Увеличить <i class="fa fa-search-plus"></i></a>
                                    </div>

                                    <div class="product-details-thumbnail-nav">
                                        <figure class="pro-thumb-item">
                                            <img src="/media/{{ product.image_main }}" alt="Product Details" />
                                        </figure>
                                        {% if product.image_1 %}
                                            <figure class="pro-thumb-item">
                                                <img src="/media/{{ product.image_1 }}" alt="Product Details" />
                                            </figure>
                                        {% endif %}
                                        {% if product.image_2 %}
                                            <figure class="pro-thumb-item">
                                                <img src="/media/{{ product.image_2 }}" alt="Product Details" />
                                            </figure>
                                        {% endif %}
                                        {% if product.image_3 %}
                                            <figure class="pro-thumb-item">
                                                <img src="/media/{{ product.image_3 }}" alt="Product Details" />
                                            </figure>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Thumbnail Area -->

                            <!-- Start Product Info Area -->
                            <div class="col-md-7">
                                <div class="product-details-info-content-wrap">
                                    <div class="prod-details-info-content">
                                        <h2>{{ product.name }}</h2>
                                        <h5 class="price"><strong>Цена:</strong> <span class="price-amount">{{ product.price }} руб.</span>
                                        </h5>
                                        <p>{{ product.description }}</p>

                                        <div class="product-config">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">

                                                </table>
                                            </div>
                                        </div>

                                        <div class="product-action">
                                            <div class="action-top d-sm-flex">

                                                <button class="btn btn-bordered"><a href="{% url 'products:basket_add' product.id %}">Добавить в корзину</a></button>
                                            </div>
                                        </div>

                                        <div class="product-meta">

                                            <span class="posted_in">Артикул:
                                            <a href="{% url 'products:index_cat' product.category.id %}">{{ product.article }}</a>
                                        </span>

                                            <span class="posted_in">Категория:
                                            <a href="{% url 'products:index_cat' product.category.id %}">{{ product.category }}</a>
                                        </span>

                                            {% if product.brand %}
                                            <span class="tagged_as">Бренд:
                                            <a href="{% url 'products:index_brand' product.brand.id %}">{{ product.brand }}</a>
                                        </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Info Area -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Wrapper ==-->

{% endblock %}