{% extends 'products/base.html' %}
{% load static %}

{% block content %}

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap bg-img" data-bg="{% static 'img/1616690104_38-p-avtozapchasti-fon-43.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <div class="page-header-content-inner">
                            <h1>Возврат и обмен товара</h1>

                            <ul class="breadcrumb">
                                <li><a href="{% url 'index' %}">Домашняя</a></li>
                                <li class="current"><a href="#">Возврат и обмен</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="blog-details-page-wrapper">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-12">
                        <article class="blog-post-details">

                            <div class="blog-post-txt-wrap">
                                <div class="row">

                                    <div class="col-md-9 col-lg-8 m-auto order-0">
                                        <div class="blog-post-txt">
                                            <h2>Возврат и обмен товара</h2>

                                            <p>Возврат автомобильных запчастей, как и любых потребительских товаров, регулируется
                                                федеральным законом.
                                                Потребитель имеет право в двухнедельный срок обратиться в точку продажи с
                                                требованием обмена или сдачи запчасти надлежащего качества в магазин. При
                                                этом запчасть не должна быть использована в эксплуатации, должна иметь первоначальный
                                                вид, упаковку, заводскую этикетку и чек.
                                                Исключение составляет категория технически сложных товаров, к таким относятся
                                                электрические и электромеханические запчасти, которые нельзя вернуть или
                                                обменять в случае их хорошего качества.</p>


                                            <blockquote class="blockquote">
                                                <p>Потребитель имеет право в двухнедельный срок обратиться в точку продажи
                                                    с требованием обмена или сдачи запчасти надлежащего качества в магазин. </p>
                                                <p><em>статья 25 закона № 2300-1 </em></p>
                                            </blockquote>

                                            <p>Для обмена или возврата запчасти потребителю необходимо обратиться к менеджеру,
                                                и составить заявление. В случае возникновения спорных вопросов может понадобиться
                                                проведение экспертизы, после чего выносится решение по требованию заявителя. </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Wrapper ==-->

{% endblock %}